.container {
  width: 510px;
}

.backgroundimage {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(0 0 0 / 90%);
  opacity: 1;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mySlides {
  margin: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 25%);
}

.backgroundImagesize {
  object-fit: cover;

  height: 400px;
  border: 3px solid #fff;
  border-radius: 5px;
}

.modal-content {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 0;
  z-index: 100;
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.normal {
  display: none;
  opacity: 0;
}

.flex {
  display: flex;
}

.box-img {
  margin-right: 18px;
}

.lightbox {
  width: 70px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 3px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: -38px;
  right: 0px;
  font-size: 40px;
  font-weight: bold;
}

.numbertext {
  position: absolute;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
